<section class="flex flex-col w-screen h-screen overflow-hidden bg-black">
  <div
    class="w-screen h-[323px] bg-[url('/assets/images/landing.png')] bg-no-repeat bg-cover bg-center"
  ></div>
  <div class="p-5 flex flex-col items-center">
    <p
      class="m-2 w-32 text-[#979797] text-[8px] font-light text-center leading-[9.75px]"
    >
      “Abandoned Dust Bowl Home” <br />
      Gelatin silver print <br />
      about 1935 - 1940
    </p>
    <h1 class="text-white text-2xl mt-6">
      CELEBRE A CULTURA E A TECNOLOGIA DO ESTADO
    </h1>
    <h2 class="text-[#FEFDAD] text-sm mt-2">
      ENTENDA A CULTURA PERNAMBUCANA POR QUEM A FEZ, ATRAVÉS DA IMERSÃO EM
      REALIDADE AUMENTADA.
    </h2>
    <button
      type="button"
      class="focus:outline-none w-[250px] h-[42px] text-white bg-[#BD9717] hover:bg-yellow-500 text-xs px-5 py-2.5 mt-6"
      (click)="toFirstAccess()"
    >
      Começar
    </button>
  </div>
</section>
