<section>
  <swiper-container class="w-screen h-screen bg-[#D9D9D9]" pagination="true">
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <h1 class="text-4xl text-black">1</h1>
    </swiper-slide>
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <h1 class="text-4xl text-black">2</h1>
    </swiper-slide>
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <h1 class="text-4xl text-black">3</h1>
    </swiper-slide>
  </swiper-container>
</section>
