<section *ngIf="isFirstAccess !== null">
  <svg
    *ngIf="!isFirstAccess"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="white"
    class="size-8 absolute top-4 right-4 z-20 cursor-pointer"
    (click)="toPreviousRoute()"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"
    />
  </svg>

  <swiper-container
    #swiper
    class="w-screen h-screen bg-[#BD9717]"
    pagination="true"
    [config]="swiperConfig"
    (slidechange)="slideChange($event)"
  >
    <swiper-slide
      class="flex flex-col items-center justify-center w-full h-full"
    >
      <img
        src="assets/images/tutorial/1.png"
        alt="Tutorial Slide 1"
        class="w-full h-[80%] object-contain"
        [ngClass]="{ 'mb-[100px]': isFirstAccess === true }"
      />
    </swiper-slide>
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <img
        src="assets/images/tutorial/2.png"
        alt="Tutorial Slide 2"
        class="w-full h-[80%] object-contain"
        [ngClass]="{ 'mb-[100px]': isFirstAccess === true }"
      />
    </swiper-slide>
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <img
        src="assets/images/tutorial/3.png"
        alt="Tutorial Slide 3"
        class="w-full h-[80%] object-contain"
        [ngClass]="{ 'mb-[100px]': isFirstAccess === true }"
      />
    </swiper-slide>
    <swiper-slide class="flex items-center justify-center w-full h-full">
      <img
        src="assets/images/tutorial/4.png"
        alt="Tutorial Slide 4"
        class="w-full h-[80%] object-contain"
        [ngClass]="{ 'mb-[100px]': isFirstAccess === true }"
      />
    </swiper-slide>
  </swiper-container>
  <div
    class="absolute bottom-[8%] w-full z-10 flex justify-center px-2 gap-4"
    *ngIf="isFirstAccess"
  >
    <button
      *ngIf="currentIndex !== 3"
      type="button"
      class="flex items-center justify-center focus:outline-none w-[130px] h-[50px] text-[#BD9717] bg-[#FFFFFF] hover:bg-yellow-100 text-xm px-2 py-1 mt-7"
      (click)="skip()"
    >
      Pular
    </button>
    <button
      *ngIf="currentIndex !== 3"
      type="button"
      class="flex items-center justify-center focus:outline-none w-[130px] h-[50px] text-[#BD9717] bg-[#FFFFFF] hover:bg-yellow-100 text-xm px-2 py-1 mt-7"
      (click)="nextSlide()"
    >
      Próximo
    </button>
    <button
      *ngIf="currentIndex === 3"
      type="button"
      class="flex items-center justify-center focus:outline-none w-[130px] h-[50px] text-[#BD9717] bg-[#FFFFFF] hover:bg-yellow-100 text-xm px-2 py-1 mt-7"
      (click)="toHome()"
    >
      Começar
    </button>
  </div>
</section>
