<section class="flex flex-col w-screen h-screen overflow-hidden bg-black">
  <app-header
    type="subpage-writter-profile"
    [title]="statue?.location"
    (buttonBack)="router.navigate(['/home'])"
  ></app-header>
  <div class="py-4 px-5">
    <div class="flex justify-between">
      <div>
        <p class="text-[10px] text-[#FFFEAE] mb-1">
          {{ statue?.subtitle | uppercase }}
        </p>
        <h1 class="w-32 text-2xl text-white leaning-[29.26px] mb-1">
          {{ statue?.name | uppercase }}
        </h1>
        <p class="text-xs text-[#BD9717]">
          {{ statue?.rangeLife | uppercase }}
        </p>
      </div>
      <div>
        <button
          type="button"
          class="flex items-center justify-between focus:outline-none w-[130px] h-[39px] text-white bg-[#BD9717] hover:bg-yellow-500 text-xs px-2 py-1 mt-7"
          routerLink="/home"
        >
          <svg
            width="24"
            height="27"
            viewBox="0 0 24 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 5.77941L12 1L23 5.77941M1 5.77941L12 11.2941M1 5.77941V21.2206L12 26M12 11.2941V26M12 11.2941L23 5.77941M12 26L23 21.2206V5.77941"
              stroke="white"
              stroke-linecap="square"
            />
          </svg>
          LER QR CODE
        </button>
      </div>
    </div>
    <app-pics-carousel [images]="statue?.images"></app-pics-carousel>
  </div>
</section>
