.sidebar-slider {
  transform: translateX(-100%);
  transition: ease-in-out 250ms transform;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 250ms transform;
}
