<div>
  <div class="flex justify-between px-4 py-2">
    <span
      class="w-[121px] h-[18px] bg-[#BD9717] text-white text-[10px] p-1 flex justify-center items-center"
      >MAPA DAS ESTÁTUAS</span
    >
    <div class="flex items-start text-white">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.00733 11.011C7.21849 13.2222 10.8035 13.2222 13.0146 11.011C15.2258 8.79983 15.2258 5.21483 13.0146 3.00366C10.8035 0.792501 7.21849 0.792501 5.00733 3.00366C2.79617 5.21482 2.79617 8.79983 5.00733 11.011ZM5.00733 11.011L1.00367 15.0147"
          stroke="white"
          stroke-linecap="square"
        />
      </svg>
      <span class="text-[10px] pl-1">Pesquisar</span>
    </div>
  </div>
  <div class="flex w-full h-[249px] bg-white justify-center items-center">
    <google-map
      width="100vw"
      height="249px"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
      <map-marker
        *ngFor="let marker of getMarkers()"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="onMarkerClick(marker)"
      ></map-marker>
    </google-map>
  </div>
</div>
